.card {
  min-width: 227.5px;
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 5px;
  position: relative;
  transition: border-color 100ms ease-in-out;
}

.card:hover {
  cursor: pointer;
}

.card:hover .sprite {
  scale: 1.05;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.sprite {
  width: 65%;
  max-width: 200px;
  bottom: 8rem;
  position: absolute;
  left: 50%;
  translate: -50%;
  filter: var(--pokemon-sprite-filter);
  transition: scale 100ms ease-in-out, filter 100ms ease-in-out;
  transform-origin: center;
}

.info {
  padding-top: 6rem;
}


.name {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.types {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.types li {
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--off-white);
  /* Pill shape = border-radius needs to be greater than the height */
  border-radius: 10000px;
}