.badge {
  --bg-color: gray;
  background-color: var(--bg-color);
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--off-white);
  /* Pill shape = border-radius needs to be greater than the height */
  border-radius: 10000px;
  width: max-content;
}