@value medium, large from '@/styles/breakpoints';

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  padding: 1rem;
}

.header {
  display: grid;
}

.spriteWrapper {
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  flex-grow: 0;
}

.sprite {
  position: relative;
  filter: var(--pokemon-sprite-filter);
}

.spriteBackground {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  border-radius: 50%;
}

.baseInfo {
  margin: 0 auto;
}

.nameWrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  align-items: baseline;
}

.id {
  font-size: 1.2rem;
}

.name {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.types {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.types li {
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--off-white);
  /* Pill shape = border-radius needs to be greater than the height */
  border-radius: 10000px;
}

.flavorText {
  margin: 0;
}

.section {
  display: grid;
  row-gap: 0.5rem;
  margin-top: 2rem;
}

.sectionHeading {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.characteristics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
}

@media medium {
  .baseInfo {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
  }

  .characteristics {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media large {
  .baseInfo {
    flex: 1;
  }

  .flavorTextWrapper {
    flex: 1;
  }

  .characteristics {
    grid-template-columns: repeat(6, 1fr);
  }
}