@value medium from '@/styles/breakpoints';

.loaderWrapper {
  place-items: center;
  height: 100vh;
}

.doubleSectionWrapper {
  display: 'flex';
  gap: 1rem;
}

@media medium {
  .doubleSectionWrapper {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
}