@value large from '@/styles/breakpoints';

.evolutionChain {
  row-gap: 2rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  flex: 1;
}

.pokemon img {
  max-width: 300px;
  z-index: 1;
  width: 75%;
}

.pokemon span {
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 2.5vw, 1.1rem);
}

.spriteWrapper {
  position: relative;
  display: grid;
  place-items: center;
}

.pokeballBg {
  position: absolute;
  background-color: var(--light-gray);
  mask-image: url('./pokeball-bg.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  width: 90%;
  height: 90%;
}

.arrow {
  stroke: var(--light-gray);
  flex: 0.5;
}

@media large {
  .pokemon {
    flex-direction: row;
  }

  .toPokemon {
    flex-direction: row-reverse;
  }

}