:root {
  --pokemon-sprite-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
  --border-radius: 5px;

  /* App colors */
  --off-white: #fefefe;
  --dark-gray: #333333;
  --gray: #cccccc;
  --light-gray: #eeeeee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: 'Poppins', sans-serif;
  background-color: var(--off-white);
  color: var(--dark-gray);
  line-height: 1.5;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}