@value medium from '@/styles/breakpoints';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  height: 100%;
}

.multipliersWrapper {
  border: 2px solid var(--gray);
  padding: 1rem;
  border-radius: var(--border-radius);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 175px;
  flex: 1;
  margin-top: 0.5rem;
}

.multiplierSection h3 {
  text-align: center;
}

.multipliersWrapper::before,
.multipliersWrapper::after {
  --size: 2rem;
  content: '';
  position: absolute;
  height: var(--size);
  aspect-ratio: 1;
  background: var(--off-white);
  top: calc((var(--size) / 2) * -1);
  left: 50%;
  translate: -50% 0;
}

.multipliersWrapper::before,
.multipliersWrapper::after {
  --size: 2rem;
  content: '';
  position: absolute;
  height: var(--size);
  aspect-ratio: 1;
  background: var(--off-white);
  top: calc((var(--size) / 2) * -1);
  left: 50%;
  translate: -50% 0;
}

.multipliersWrapper::before {
  background-color: var(--gray);
  mask-position: center;
  mask-repeat: no-repeat;
  z-index: 2;
}

.multipliersWrapper::after {
  background-color: var(--off-white);
  z-index: 1;
}

.multipliersWrapper.offense::before {
  mask-image: url('./swords.svg');
}

.multipliersWrapper.defense::before {
  mask-image: url('./shield.svg');
}

.multiplierSection {
  font-size: 0.8rem;
  display: grid;
  align-items: center;
  align-content: center;
  row-gap: 0.5rem;
  padding: 1rem;
  width: 100%;
  flex: 1;
}

.multiplierSection h3 {
  text-align: center;
}

.multipliersWrapper h3 {
  color: var(--dark-gray);
}

.multiplierSection:nth-child(odd) {
  background: var(--light-gray);
}

.multiplierSection {
  border: 1px solid var(--light-gray);
}

.multiplierSection:first-child {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.multiplierSection:last-child {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.types {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.badge {
  flex-basis: 73px;
  text-align: center;
}

@media medium {
  .wrapper {
    flex-direction: row;
  }

  .multipliersWrapper {
    width: 50%;
  }
}