@value small from '@/styles/breakpoints';

.sides {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  height: 100%;
}

.sideWrapper {
  border: 2px solid var(--light-gray);
  border-radius: var(--border-radius);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 175px;
  flex: 1;
  margin-top: 1.5rem;
}

.sideWrapper::before,
.sideWrapper::after {
  content: '';
  position: absolute;
  height: var(--size);
  aspect-ratio: 1;
  top: calc((var(--size) / 2) * -1);
  left: 50%;
  translate: -50% 0;
  border-radius: 50%;
}

.sideWrapper::before {
  background-color: var(--dark-gray);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  z-index: 2;
  --size: 1.5rem;
}

.sideWrapper::after {
  background-color: var(--off-white);
  border: 2px solid var(--light-gray);
  z-index: 1;
  --size: 2.5rem;
}

.sideWrapper.offense::before {
  mask-image: url('./swords.svg');
}

.sideWrapper.defense::before {
  mask-image: url('./shield.svg');
}

.multiplierWrapper {
  font-size: 0.8rem;
  display: grid;
  align-items: center;
  align-content: center;
  row-gap: 0.5rem;
  padding: 1.5rem 1rem;
  width: 100%;
  flex: 1;
}

.multiplierWrapper:nth-child(odd) {
  background: var(--light-gray);
}

.multiplierTitle {
  font-size: 1rem;
  text-align: center;
}

.types {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.badge {
  flex-basis: 73px;
  text-align: center;
}

@media small {
  .sides {
    flex-direction: row;
  }
}