.characteristic {
  color: var(--icon-color);
  display: grid;
  row-gap: 0.5rem;
  text-align: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: var(--light-gray);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 1rem 0;
  border-radius: var(--border-radius);
}

.characteristic h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #888888;
}

.characteristic span {
  color: var(--dark-gray);
}