@value small, large from '@/styles/breakpoints';

.header {
  display: grid;
}

.spriteWrapper {
  width: 250px;
  margin: 0 auto;
  position: relative;
  flex-grow: 0;
  margin-bottom: 1rem;
}

.sprite {
  position: relative;
  filter: var(--pokemon-sprite-filter);
}

.spriteBackground {
  --bg-color: gray;
  background: color-mix(in srgb, var(--bg-color) 25%, transparent);
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
}

.baseInfo,
.pokemonStatus {
  margin: 0 auto;
}

.nameWrapper {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  align-items: baseline;
  justify-content: center;
}

.id {
  font-size: 1.2rem;
}

.name {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.types {
  justify-content: center;
  margin-top: 1rem;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.flavorText {
  margin: 0;
}

@media small {
  .baseInfo {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
  }

  .spriteWrapper {
    margin-bottom: 0;
  }

  .pokemonStatus {
    margin: 0;
  }

  .types {
    justify-content: start;
  }
}

@media large {
  .baseInfo {
    flex: 1;
  }

  .flavorTextWrapper {
    flex: 1;
  }
}