.wrapper {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 1.5rem;
  line-height: 1;
  text-align: center;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}