@value medium, large from '@/styles/breakpoints';

.list {
  display: grid;
  row-gap: 5rem;
  column-gap: 2rem;
  width: 100%;
  padding-top: 6rem;
  margin-bottom: 1rem;
  align-items: center;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: center;
}


.loaderWrapper {
  display: flex;
  margin: 0 auto;
  height: 100%;
}

@media medium {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media large {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}