.container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  padding: 1rem;
}

.list {
  display: grid;
  row-gap: 5rem;
  column-gap: 2rem;
  width: 100%;
  padding-top: 6rem;
  align-items: center;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* 35.5em * 16 = 500px */
@media screen and (min-width: 35.5em) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 67.8125em * 16 = 1085px */
@media screen and (min-width: 67.8125em) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}